.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #003B73;
}

h1 {
  margin: 30px;
  font-family: "Pacifico", serif;
  text-shadow: 5px 0 #0074B7;
  font-size: 8rem;
  color: #60A3D9;
}

p {
  font-size: 2rem;
  color: #0074B7;
  font-family: "Prompt", sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: "Prompt", sans-serif;

}
